@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <form method="POST" enctype="multipart/form-data" action="files">
            Select images: <input type="file" name="files" multiple>
            <input type="submit">
        </form>
    </div>   
</div>
