<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- Content here -->
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!!!!!
    </h1>
  </div>



  <div class="table-responsive">
    <table class="table table-hover ">
      <thead>
        <tr>
          <th scope="col">Họ và Tên</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let student of students; let i = index">
        <tr>
          <td>{{student.hoTen}}</td>
          <td>
            <button class="btn btn-outline-primary " (click)="edit(student)">Edit</button>
            <button class="btn btn-outline-primary " (click)="delete(student.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <div class="btn-group">
    <a class="btn btn-outline-primary " routerLink="/CreateStudent" routerLinkActive="active">Create</a>
    <button class="btn btn-outline-primary" (click)="update()">Update students</button>
  </div>
</div>